<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Page</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Message Board</h1>
    <% if (!locals.user) { %>
        <h2>Log in to see who wrote these messages</h2>
        <%- include("partials/errors") %>
        <%- include("partials/login") %>
    <% } %>

    <!-- Display msgs as anon if !locals.user -->
    <% if (locals.user) { %>
        <h3>Add to the conversation, <%= user.first_name %>!</h3>
        <a href="/logout">Log out</a>
    <% } %>

    <% if (locals.messages) { %>
        <% messages.forEach(function(msg) { %>
            <p><%= getName(msg.user_id) %>:</p>
            <p><%= msg.msg %> (<%= msg.time %>)</p>
        <% }); %>
    <% } %>

    <% if (locals.user) { %>
        <%- include("partials/msg_form.ejs") %>
    <% } %>
</body>
</html>